/* Animation */
@keyframes anim {
	0% {
		opacity: 0;
		transform: translateX(-16px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}


yt-live-chat-text-message-renderer,
yt-live-chat-membership-item-renderer,
yt-live-chat-paid-message-renderer {
	animation: anim 400ms;
	animation-fill-mode: both;
}
