/* 上舰样式（舰长） */
yt-live-chat-membership-item-renderer[privilegetype="3"] {
	margin: 10px 0 !important;
	overflow: visible !important;
	padding: 0 23px 0 20px !important
}

yt-live-chat-membership-item-renderer[privilegetype="3"] #card {
	position: relative !important;
	overflow: visible !important;
}

yt-live-chat-membership-item-renderer[privilegetype="3"] #header {
	background-color: transparent !important;
	position: relative !important;
	height: 70px;
	width: 100%;
	margin-right: 10px;
	align-self: center;
	border: 20px solid #fd0000 !important;
	z-index: 100;
	border-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E8%88%B0%E9%95%BF%E9%99%8D%E4%B8%B4/%E8%88%B0%E9%95%BF%E9%99%8D%E4%B8%B4.png) 20 fill !important
}

yt-live-chat-membership-item-renderer[privilegetype="3"] yt-img-shadow img {
	position: absolute !important;
	height: 65px;
	width: 65px;
	float: right;
	top: 13%;
	right: -209px;
	background-color: #ffffff;
	border: 4px solid rgb(106, 109, 114) !important;
	z-index: 2;
}

yt-live-chat-membership-item-renderer[privilegetype="3"] #header-content,
yt-live-chat-membership-item-renderer[privilegetype="2"] #header-content,
yt-live-chat-membership-item-renderer[privilegetype="1"] #header-content {
	position: relative !important
}

yt-live-chat-membership-item-renderer[privilegetype="3"] yt-img-shadow {
	position: absolute !important;
	top: -5px;
	left: 18px;
	height: 145px !important;
	width: 145px !important;
	overflow: visible !important;
	z-index: -10 !important
}

yt-live-chat-membership-item-renderer[privilegetype="3"] #header-content-primary-column,
yt-live-chat-membership-item-renderer[privilegetype="2"] #header-content-primary-column,
yt-live-chat-membership-item-renderer[privilegetype="1"] #header-content-primary-column {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	width: 100% !important;
	padding: 0 !important
}

yt-live-chat-membership-item-renderer[privilegetype="3"] yt-live-chat-author-chip {
	position: absolute !important;
	top: 5px;
	left: calc(50% + 25px);
	transform: translate(-50%, 80%);
}

yt-live-chat-membership-item-renderer[privilegetype="3"] #author-name {
	white-space: nowrap;
	font-size: 25px;
	font-family: "庞门正道标题体";
	color: rgb(106, 109, 114) !important;
	line-height: 1;
	text-align: left;
	position: relative !important;
}



/* 上舰样式（提督） */
yt-live-chat-membership-item-renderer[privilegetype="2"] {
	margin: 10px 0 !important;
	overflow: visible !important;
	padding: 0 23px 0 20px !important
}

yt-live-chat-membership-item-renderer[privilegetype="2"] #card {
	position: relative !important;
	overflow: visible !important;
}

yt-live-chat-membership-item-renderer[privilegetype="2"] #header {
	background-color: transparent !important;
	position: relative !important;
	height: 47px;
	width: 100%;
	align-self: center;
	border: 10px solid #fd0000 !important;
	z-index: 100;
	border-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E6%8F%90%E7%9D%A3%E9%99%8D%E4%B8%B4/%E6%8F%90%E7%9D%A3%E9%99%8D%E4%B8%B4.png) 20 fill !important
}

yt-live-chat-membership-item-renderer[privilegetype="2"] yt-img-shadow img {
	position: absolute !important;
	height: 65px;
	width: 65px;
	float: right;
	top: 3px;
	right: -204px;
	background-color: #ffffff;
	border: 4px solid rgb(88, 80, 103) !important;
	z-index: 2;
}


yt-live-chat-membership-item-renderer[privilegetype="2"] yt-img-shadow {
	position: absolute !important;
	top: -5px;
	left: 18px;
	height: 145px !important;
	width: 145px !important;
	overflow: visible !important;
	z-index: -10 !important
}

yt-live-chat-membership-item-renderer[privilegetype="2"] yt-live-chat-author-chip {
	position: absolute !important;
	top: 5px;
	left: calc(50% + 20px);
	transform: translate(-65%, 70%);
}

yt-live-chat-membership-item-renderer[privilegetype="2"] #author-name {
	white-space: nowrap;
	font-size: 25px;
	font-family: "庞门正道标题体";
	color: rgb(88, 80, 103) !important;
	line-height: 1;
	text-align: left;
	position: relative !important;
}

/* 上舰样式（总督） */
yt-live-chat-membership-item-renderer[privilegetype="1"] {
	margin: 10px 0 !important;
	overflow: visible !important;
	padding: 0 23px 0 20px !important
}

yt-live-chat-membership-item-renderer[privilegetype="1"] #card {
	position: relative !important;
	overflow: visible !important;
}

yt-live-chat-membership-item-renderer[privilegetype="1"] #header {
	background-color: transparent !important;
	position: relative !important;
	height: 54px;
	width: 100%;
	margin-right: 10px;
	align-self: center;
	border: 10px solid #fd0000 !important;
	z-index: 100;
	border-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E6%80%BB%E7%9D%A3%E9%99%8D%E4%B8%B4/%E6%80%BB%E7%9D%A3%E9%99%8D%E4%B8%B4.png) 20 fill !important
}

yt-live-chat-membership-item-renderer[privilegetype="1"] yt-img-shadow img {
	position: absolute !important;
	height: 65px;
	width: 65px;
	float: right;
	top: 5%;
	right: -209px;
	background-color: #ffffff;
	border: 4px solid rgb(128, 124, 121) !important;
	z-index: 2;
}


yt-live-chat-membership-item-renderer[privilegetype="1"] yt-img-shadow {
	position: absolute !important;
	top: -5px;
	left: 18px;
	height: 145px !important;
	width: 145px !important;
	overflow: visible !important;
	z-index: -10 !important
}

yt-live-chat-membership-item-renderer[privilegetype="1"] yt-live-chat-author-chip {
	position: absolute !important;
	top: 5px;
	left: calc(50% + 20px);
	transform: translate(-50%, 75%);
}

yt-live-chat-membership-item-renderer[privilegetype="1"] #author-name {
	white-space: nowrap;
	font-size: 25px;
	font-family: "庞门正道标题体";
	color: rgb(128, 124, 121) !important;
	line-height: 1;
	text-align: left;
	position: relative !important;
}

yt-live-chat-membership-item-renderer #header-subtext {
	display: none !important;
}