yt-live-chat-renderer {
	background-color: transparent !important;
	font-family: "庞门正道标题体";
	/* text-shadow: -1px -1px #000000, -1px 0px #000000, -1px 1px #000000, 0px -1px #000000, 0px 0px #000000, 0px 1px #000000, 1px -1px #000000, 1px 0px #000000, 1px 1px #000000; */
	font-size: 25px !important;
	line-height: 20px !important;
}

yt-live-chat-ticker-renderer {
	background-color: transparent !important;
	box-shadow: none !important;
	display: none !important;
}

yt-live-chat-author-chip #author-name {
	background-color: transparent !important;
}

yt-live-chat-item-list-renderer #item-scroller {
	overflow: hidden !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-membership-item-renderer #content {
	overflow: visible !important;
}

yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
	display: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted] {
	display: none !important;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer {
	display: none !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-membership-item-renderer a {
	text-decoration: none !important;
}


yt-live-chat-text-message-renderer {
	margin-top: 5px;
	position: relative;
	padding-left: 4px !important;
	padding-right: 4px !important;
	/* border: 2px solid seagreen; */
	border-width: 0px 0px 0px 0px !important;
	border-style: solid !important;
	border-color: transparent !important;
	/* border-image: url(https://rabbittang_admin.gitee.io/gallery-2/danmuIMG/20230202/%E5%BC%B9%E5%B9%95%E5%BA%95%E6%A1%86%EF%BC%88%E9%80%9A%E7%94%A8%EF%BC%8C%E9%99%A4%E4%BA%86SC%EF%BC%89.png) 0 0 0 0 fill !important; */
	/* border-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E5%BC%B9%E5%B9%95%E5%BA%95%E6%A1%86%EF%BC%88%E9%80%9A%E7%94%A8%EF%BC%8C%E9%99%A4%E4%BA%86SC%EF%BC%89.png) 0 0 0 0 fill !important; */
	border-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E5%BC%B9%E5%B9%95%E5%BA%95%E6%A1%86%EF%BC%88%E9%80%9A%E7%94%A8%EF%BC%8C%E9%99%A4%E4%BA%86SC%EF%BC%89.png) 0 0 0 0 fill !important;
}

yt-live-chat-text-message-renderer[author-type="1"]::after,
yt-live-chat-text-message-renderer[author-type="2"]::after,
yt-live-chat-text-message-renderer[author-type="3"]::after,
yt-live-chat-text-message-renderer[author-type="moderator"]::after,
yt-live-chat-text-message-renderer::after {
	position: absolute;
	content: "";
	color: #00000000;
	z-index: 1;
	font-size: 0px;
	background-color: #ffffff00;
	white-space: break-spaces;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: visible;
}

yt-live-chat-text-message-renderer[privilegetype="1"]::after {
	width: 350px;
	height: 70px;
	bottom: -2px;
	right: -15px;
	float: right;
	/* background-image: url(https://rabbittang_admin.gitee.io/gallery-2/danmuIMG/20230202/%E6%80%BB%E7%9D%A3%E5%BC%B9%E5%B9%95/%E6%80%BB%E7%9D%A3%E8%A3%85%E9%A5%B0.png); */
	background-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E6%80%BB%E7%9D%A3%E5%BC%B9%E5%B9%95/%E6%80%BB%E7%9D%A3%E8%A3%85%E9%A5%B0.png);
}

yt-live-chat-text-message-renderer[privilegetype="2"]::after {
	width: 350px;
	height: 55px;
	right: -3px;
	bottom: 3px;
	/* background-image: url(https://rabbittang_admin.gitee.io/gallery-2/danmuIMG/20230202/%E6%8F%90%E7%9D%A3%E5%BC%B9%E5%B9%95/%E6%8F%90%E7%9D%A3%E8%A3%85%E9%A5%B0.png); */
	background-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E6%8F%90%E7%9D%A3%E5%BC%B9%E5%B9%95/%E6%8F%90%E7%9D%A3%E8%A3%85%E9%A5%B0.png);
	vertical-align: bottom;
}

yt-live-chat-text-message-renderer[privilegetype="3"]::after {
	width: 340px;
	height: 40px;
	right: -2px;
	bottom: 0;
	/* background-image: url(https://rabbittang_admin.gitee.io/gallery-2/danmuIMG/20230202/%E8%88%B0%E9%95%BF%E5%BC%B9%E5%B9%95/%E8%88%B0%E9%95%BF%E8%A3%85%E9%A5%B0.png); */
	background-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E8%88%B0%E9%95%BF%E5%BC%B9%E5%B9%95/%E8%88%B0%E9%95%BF%E8%A3%85%E9%A5%B0.png);
}

yt-live-chat-text-message-renderer::after {
	width: 40px;
	height: 30px;
	right: 0px;
	bottom: 25px;
	float: right;
	/* background-image: url(https://rabbittang_admin.gitee.io/gallery-2/danmuIMG/20230202/%E6%99%AE%E9%80%9A%E7%94%A8%E6%88%B7%E5%BC%B9%E5%B9%95/%E6%99%AE%E9%80%9A%E8%A3%85%E9%A5%B0.png); */
	background-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E6%99%AE%E9%80%9A%E7%94%A8%E6%88%B7%E5%BC%B9%E5%B9%95/%E6%99%AE%E9%80%9A%E8%A3%85%E9%A5%B0.png);
}

yt-live-chat-text-message-renderer[author-type="moderator"]::after {
	width: 340px;
	height: 64px;
	right: 0px;
	bottom: 0px;
	/* background-image: url(https://rabbittang_admin.gitee.io/gallery-2/danmuIMG/20230202/%E7%AE%A1%E7%90%86%E5%BC%B9%E5%B9%95/%E7%AE%A1%E7%90%86%E8%A3%85%E9%A5%B0.png); */
	background-image: url(http://notfromconcen.github.io/tang_staticresource/danmuIMG/20230202/%E7%AE%A1%E7%90%86%E5%BC%B9%E5%B9%95/%E7%AE%A1%E7%90%86%E8%A3%85%E9%A5%B0.png);
}

yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo img {
	width: 50px !important;
	height: 50px !important;
}

yt-live-chat-text-message-renderer #author-photo {
	line-height: 200px;
	width: 50px !important;
	height: 50px !important;
	border-radius: 50px !important;
	margin-right: 11.25px !important;
	border: 2px solid white;
	z-index: 2;
}

yt-live-chat-text-message-renderer #author-photo img {
	line-height: 200px;
	width: 50px !important;
	height: 50px !important;
	border-radius: 50px !important;
	display: flex;
	align-items: center;
	margin-right: 11.25px !important;
	z-index: 2;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"] {
	color: rgb(112, 142, 144) !important;
}

yt-live-chat-text-message-renderer #author-name {
	position: absolute;
	top: 1px;
	color: #ffffff !important;
	font-family: "庞门正道标题体";
	font-size: 22px !important;
	line-height: 20px !important;
}

yt-live-chat-text-message-renderer #chat-badges {
	display: none !important;
	vertical-align: text-top !important;
}

yt-live-chat-author-medal-renderer {
	display: none;
}

#medal-name.yt-live-chat-author-medal-renderer {
	visibility: hidden;
}

#medal-level.yt-live-chat-author-medal-renderer {
	visibility: hidden;
}

yt-live-chat-text-message-renderer #message {
	width: 100%;
	color: #ffffff !important;
	font-family: "庞门正道标题体";
	font-size: 18px !important;
	line-height: 20px !important;
	display: inline !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"] #message {
	color: rgb(112, 142, 144) !important;
}

yt-live-chat-text-message-renderer[privilegetype="3"] #author-name,
yt-live-chat-text-message-renderer[privilegetype="3"] #message {
	color: rgb(105, 108, 113) !important;
}

yt-live-chat-text-message-renderer[privilegetype="2"] #author-name,
yt-live-chat-text-message-renderer[privilegetype="2"] #message {
	color: rgb(85, 79, 101) !important;
}

yt-live-chat-text-message-renderer[privilegetype="1"] #author-name,
yt-live-chat-text-message-renderer[privilegetype="1"] #message {
	color: rgb(128, 124, 119) !important;
}

yt-live-chat-text-message-renderer #image-and-message {
	width: 100%;
	display: block !important;
}

#thread {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#thread img.yt-img-shadow {
	visibility: hidden;
	height: 0;

}

#thread #card yt-live-chat-author-chip {
	display: none;
}

yt-live-chat-text-message-renderer #content {
	margin-top: 0px;
}

/* 单独处理圆角 */
yt-live-chat-text-message-renderer #thread>#card:first-child #content {
	margin-top: 4px;
}

#thread>#card:first-child yt-live-chat-author-chip {
	display: flex;
}

#thread>#card:first-child img.yt-img-shadow {
	visibility: visible;
	height: auto;
}

yt-live-chat-text-message-renderer #image-and-message .emoji {
	width: auto !important;
	height: 20px !important;
}

#image-and-message img[display="block"] {
	border-radius: 4px;
}

#image-and-message img[display="inline"] {
	position: relative;
	top: 3px;
	border-radius: 0px;
}

body {
	overflow: visible;
	background-color: rgba(0, 0, 0, 0);
	width: 370px;
}


yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
	background-color: rgba(204, 204, 204, 0) !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {}

yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {}

yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted]::after {}

/* SuperChat/Fan Funding Messages */
yt-live-chat-paid-message-renderer {
	margin: 4px 0 !important;
}

yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name * {
	color: #ffffff !important;
	font-family: "庞门正道标题体";
	font-size: 20px !important;
	line-height: 20px !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content *,
yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount * {
	color: #ffffff !important;
	font-family: "庞门正道标题体";
	font-size: 20px !important;
	line-height: 20px !important;
}